<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Halfmoon/1.0.4/css/halfmoon.min.css" />

    <style>
    @media only screen and (max-width: 768px) {
        .mobile {
            display: block;
        }
        .desktop {
            display: none;
        }
    }

    @media only screen and (min-width: 768px) {
        .desktop {
            display: block;
        }
        .mobile {
            display: none;
        }
    }
    </style>
</head>

<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars dark-mode text-center">
    <form class="m-auto w-three-quarter">
    <h1>Waifu Generator</h1>
    <h4>{{ "{:,}".format(total_waifu_count) }} waifus and counting...</h4>
    <div class="form-group">
        <select class="form-control" id="model" required="required">
            {% for model in cfg.get("models") %}
                <option value="{{model}}">{{model}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <input class="form-control" maxlength="77" id="prompt" placeholder="Describe the image that you want to generate in a few words"></input>
    </div>

    </form>
    <h4 id="queue_info" display="none"></h4><br>
    <button class="btn btn-primary" id="generate_button" onclick="send_prompt();">Generate</button>
    <br><br>

    <img width="100%" id="generated_image" style="display: block; border-style: solid; border-width: 3px; display: none; max-width: 512px; margin-left: auto; margin-right: auto;" />

    <i class="my-10 text-muted">Images created under the <a href="https://raw.githubusercontent.com/CompVis/stable-diffusion/main/LICENSE">CreativeML Open RAIL-M</a> license</i><br>
    <i class="my-10 text-muted">By clicking "generate" you verify that you are 18 years of age or older</i>

    <div style="width:728px;height:90px; margin: auto; margin-top: 1em;" class="desktop">
        <script id="adn-4793005" type="text/javascript" class="" style="">
            (function (node) {
                var adn = document.createElement("script");
                adn.type = "text/javascript", adn.async = true, adn.src = "//a.medfoodsafety.com/warp?id=4793005&r=" + Math.floor(Math.random() * 99999) + "";
                node.appendChild(adn);
            })(document.getElementsByTagName("script")[document.getElementsByTagName("script").length - 1].parentNode)
        </script>
    </div>

    <div style="width:320px;height:50px; margin: auto; margin-top: 1em;" class="mobile">
        <script id="adn-4793004" type="text/javascript" class="" style="">
            (function (node) {
                var adn = document.createElement("script");
                adn.type = "text/javascript", adn.async = true, adn.src = "//a.medfoodsafety.com/warp?id=4793004&r=" + Math.floor(Math.random() * 99999) + "";
                node.appendChild(adn);
            })(document.getElementsByTagName("script")[document.getElementsByTagName("script").length - 1].parentNode)
        </script>
    </div>

    <div class="text-monospace text-center my-10">Made with &lt;3 by
        <a class="text-muted" href="https://github.com/qwertyquerty">Madeline</a>
    </div>

    <i class="my-10 text-muted">Email me <a href="mailto:qwertytrogi@gmail.com">here</a> for suggestions</i>
</body>

<script>
    var queue_item = null;

    function send_prompt() {
        var p = encodeURIComponent(document.getElementById("prompt").value);
        var m = encodeURIComponent(document.getElementById("model").value);

        fetch(`/generate?prompt=${p}&model=${m}`).then(function(res) {
            return res.json()
        }).then(function(data) {
            if (data.status == "QUEUED") {
                queue_item = data;
            }

            set_queue(data);
        })

        document.getElementById("generate_button").style.display = "none";
        document.getElementById("generated_image").style.display = "none";
        document.getElementById("queue_info").style.display = "inline-block";
        document.getElementById("queue_info").innerHTML = `...`;
    }

    setInterval(function() {
        if (queue_item != null && queue_item.status != "FINISHED" && queue_item.status != "ERROR") {
            fetch(`/queue/${queue_item.id}`).then(function(res) {
                return res.json()
            }).then(function(data) {
                queue_item = data;
                set_queue(queue_item);
            })
        }
    }, 1000)

    function set_image(id) {
        document.getElementById("generated_image").src = `/image/${id}`;
    }

    function set_queue(queue_item) {
        if (queue_item.status == "ERROR") {
            document.getElementById("queue_info").style.display = "inline-block";
            document.getElementById("queue_info").innerHTML = queue_item.message;
            document.getElementById("generate_button").style.display = "inline-block";
            document.getElementById("generated_image").style.display = "none";
        }
        else if (queue_item.status == "FINISHED") {
            document.getElementById("queue_info").style.display = "none";
            document.getElementById("generate_button").style.display = "inline-block";
            document.getElementById("generated_image").style.display = "block";
            set_image(queue_item.id);
        }
        else if (queue_item.position > 0) {
            document.getElementById("queue_info").style.display = "inline-block";
            document.getElementById("queue_info").innerHTML = `Waiting in queue... (${queue_item.position})`;
            document.getElementById("generate_button").style.display = "none";
            document.getElementById("generated_image").style.display = "none";
        }
        else {
            document.getElementById("queue_info").style.display = "inline-block";
            document.getElementById("queue_info").innerHTML = `Generating image...`;
            document.getElementById("generate_button").style.display = "none";
            document.getElementById("generated_image").style.display = "none";
        }
    }
</script>
